<section class="p-4 margin dark-mode">
    <h1 class="text-center text-success fs-3 my-4 dark-mode-text">Forgot Password</h1>
    @if (step == 1) {
        <form [formGroup]="verifyEmailForm" (ngSubmit)="verifyEmailSubmit()" class="bg-light rounded shadow p-4 dark-mode-form">
            <div class="mb-3">
                <label for="email" class="form-label dark-mode-text">
                    {{'login.email' | translate}}
                </label>
                <input formControlName="email" type="email" id="email"
                    class="form-control dark-mode-input">
            </div>
    
            @if (verifyEmailForm.get('email')?.errors && verifyEmailForm.get('email')?.touched) {
            <div class="alert alert-danger dark-mode-alert" role="alert">
                <ul class="mb-0">
                    @if (verifyEmailForm.get('email')?.getError('required')) {
                    <li>Email is required</li>
                    }
                    @else if (verifyEmailForm.get('email')?.getError('email')) {
                    <li>Enter a valid email</li>
                    }
                </ul>
            </div>
            }
    
            <button [disabled]="verifyEmailForm.invalid"
                class="btn btn-success w-100">
                Verify Email
            </button>
        </form>
    }
    @else if (step == 2) {
        <form [formGroup]="verifyCodeForm" (ngSubmit)="verifyCodeSubmit()" class="bg-light rounded shadow p-4 dark-mode-form">
            <div class="mb-3">
                <label for="resetCode" class="form-label dark-mode-text">Reset Code</label>
                <input formControlName="resetCode" type="text" id="resetCode"
                    class="form-control dark-mode-input">
            </div>
            <button [disabled]="verifyCodeForm.invalid"
                class="btn btn-success w-100">
                Verify code
            </button>
        </form>
    }
    @else if (step == 3) {
        <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPasswordSubmit()" class="bg-light rounded shadow p-4 dark-mode-form">
            <div class="mb-3">
                <label for="email" class="form-label dark-mode-text">
                    {{'login.email' | translate}}
                </label>
                <input formControlName="email" type="email" id="email"
                    class="form-control dark-mode-input">
            </div>
    
            @if (resetPasswordForm.get('email')?.errors && resetPasswordForm.get('email')?.touched) {
            <div class="alert alert-danger dark-mode-alert" role="alert">
                <ul class="mb-0">
                    @if (resetPasswordForm.get('email')?.getError('required')) {
                    <li>Email is required</li>
                    }
                    @else if (resetPasswordForm.get('email')?.getError('email')) {
                    <li>Enter a valid email</li>
                    }
                </ul>
            </div>
            }
            <div class="mb-3">
                <label for="newPassword" class="form-label dark-mode-text">New Password</label>
                <input formControlName="newPassword" type="password" id="newPassword"
                    class="form-control dark-mode-input">
            </div>
            @if (resetPasswordForm.get('newPassword')?.errors && resetPasswordForm.get('newPassword')?.touched) {
            <div class="alert alert-danger dark-mode-alert" role="alert">
                <ul class="mb-0">
                    @if (resetPasswordForm.get('newPassword')?.getError('required')) {
                    <li>Password is required</li>
                    }
                    @else if (resetPasswordForm.get('newPassword')?.getError('pattern')) {
                    <li>Enter a valid password</li>
                    }
                </ul>
            </div>
            }
    
            <button [disabled]="resetPasswordForm.invalid"
                class="btn btn-success w-100">
                Reset Password
            </button>
        </form>
    }
</section>